.switch-wrapper {
	text-align: center;
	margin-top: 10px;
}

#remove-button {
	float: right;
    margin: 10px;
}

.button-routes {
	text-align: right;

	button {
		background: none;
  		border: none;
  		padding: 5px 20px 0px 0px;
  	}

	.add-button {
		font-size: 42px;
		text-shadow: 1px 1px 1px #888;
		margin: 0;
		float: right;
	}
}

.button-rotues:focus {
  outline: none;
}

.separator-line {
	width: calc(100% - 40px);
	margin: 20px;
	height: 1px;
	background-color: #ccc;
}

@media (max-width: 768px) {
  .explanation-wrapper {
	text-align: center;	
  }
}
